<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547382892023-nn34mriirnml0cq0rb61rdmh8tr617r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547382892023-nn34mriirnml0cq0rb61rdmh8tr617r6</string>
	<key>API_KEY</key>
	<string>AIzaSyC4axaTa5jUfxB7t3PWUO3Z7g6T8nBqmNA</string>
	<key>GCM_SENDER_ID</key>
	<string>547382892023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shikhar.ThreadsUI</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-41f87</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-41f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547382892023:ios:acd50c47dde052676dcaf2</string>
</dict>
</plist>